* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li.ant-menu-submenu-open,
ul.ant-menu-sub.ant-menu-vertical {
  background-color: #1a4a77 !important;
}

li.ant-menu-submenu-selected > [role="menuitem"] {
  background-color: #48a6dc !important;
  font-weight: 700;
}

li.ant-menu-submenu-open:not(.ant-menu-submenu-selected) > [role="menuitem"] {
  background-color: #266bac !important;
}

[role="menuitem"] {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

ul[role="menu"].ant-menu-sub
  > li[role="menuitem"].ant-menu-item.ant-menu-item-selected {
  background-color: #1a4a77 !important;
  font-weight: 700;
}

ul[role="menu"].ant-menu-sub > li[role="menuitem"].ant-menu-item:active {
  background-color: unset !important;
}

.ant-form-item-label label {
  font-weight: 600 !important;
}

.ant-table-column-title,
td.ant-table-cell {
  white-space: nowrap !important;
}
